/* <!-- A Smarter Way to Learn JavaScript -->*/

/* <!-- chapter 52 Manipulating images and text --> */

/* .heading{
        font-family: monospace;
        font-style: italic;
        color: rgb(11, 11, 48);
        cursor: pointer;
    }

    .styling2{
        font-family: monospace;
        font-style: italic;
        color: rgb(0, 174, 255);
        cursor: pointer;
    } */

/* .jumbo {
  background-color: black;
  color: white;
} */
